html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  padding:0;
  margin:0;
}


.details-btn {
    background-color: #03584f !important;
    color: white !important;
}

    .details-btn:hover {
        background-color: #004D40 !important;
        color: white !important;
    }

.action-btn {
    background-color: white !important;
    color: black !important;
    border: 1px solid #03584f !important;
}

    .action-btn:hover {
        background-color: #03584f !important;
        color:white !important;
    }

.manage-profile-link{
    color: black !important;
    background-color:white !important;
    /*border: 1px solid #03584f !important;*/
}

.manage-profile-link.active{
    background-color: #03584f !important;
    color: white !important;
}

.action-btn-delete{
    background-color:white !important;
    color: red !important;
    border: 1px solid red;
}

.action-btn-delete:hover{
    background-color:red !important;
    color: white !important;
}

.custom-select {
    background-color: #03584f !important;
    color: white;
    border-radius: 6px;
    height: 2rem;
    font-size: 0.9rem;
    /* border: 1px solid white !important; */
    padding: 0.25rem;
}
