@model IEnumerable<Product>

<div class="d-flex gap-2">
    <div class="flex-grow-1 px-3">
        <h5 class="mt-2">Filter by category</h5>
        <select id="filterSelect" class="w-100 custom-select">
            <option value="0">All</option>
            @foreach(var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    @await Html.PartialAsync("_ProductsPartial", Model)
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#filterSelect').change(function () {
            var categoryId = $(this).val();
            $.ajax({
                url: '@Url.Action("GetProductsByCategory", "Home")',
                type: 'GET',
                dataType: 'html',
                data: { categoryId: categoryId },
                success: function (data) {
                    $('#productsList').html(data);
                },
                error: function () {
                    console.log('Error occurred while fetching products.');
                }
            });
        });
    });
</script>